#header {
    flex-direction: column;
    align-items: center;
}

.title-right {
    margin: 0 0 0 0;
}

/* 背景图片 */
html {
    background: url('https://img.liyifan.xyz/file/a2262c314f6a8bd592eba.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* 主体颜色 */
body {
    background: #002FA7CC;
}
