
/* header布局*/
#header {
    height: 250px;
}

#header h1 {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;

#header h1 a {
    margin-top: 30px;
    margin-left: unset;
}

.avatar {
    width: 150px;
    height: 150px;
}

.title-right {
    margin: unset;
    margin-top: 295px;
    margin-left: 50%;
    transform: translateX(-50%);
}
    
/* 主体颜色 */
body {
    background: rgba(000, 047, 167, 0.8);
}
