html {    
    background: url('https://blog.freeblock.cn/background.webp') no-repeat center center fixed;
    background-size: cover;
}


#header {
    background-color: #002FA7;
}

.postTitle {
    margin-left: 10px;
}

#postBody {
    margin: 10px;
}
