
/* header布局 */
#header {
    height: 220px;
}

#header h1 {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;

/* avatar尺寸 */
.avatar {
    width: 150px;
    height: 150px;
}

#header h1 a {
    margin-top: 5px;
    font-family: fantasy;
    margin-left: unset;
}

/* 主体颜色 */
body {
    background: #002FA7;
}

